- breadcrumb :teacher_study_group_passwords, @study_group
- header('Временные пароли')
= configurable_table(collection: @study_group.students.with_temp_password, table_handler: @table_handler)
= alert_block(:warning, icon: :lock, text: 'Если ученик отсутствует в списке, значит пароль был изменен. Сбросить пароль на новый может администратор.')