- breadcrumb :admin_users_teachers, @user
- header('Учителя')
- links([['Добавить пользователя', new_admin_user_path]])
= render 'nav'
= configurable_table(collection: @users, table_handler: @table_handler)